.box {
  position: relative;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  max-width: 500px;
}

.login-wrapper {
  height: 85%;
}
