<div>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color:  #e91e63;"
  >
    <a class="navbar-brand" href="#">
      <img
        src="assets\Pics\1568373.png"
        width="50"
        height="50"
        class="d-inline-block align-top"
        alt=""
      />

      Customer Help
    </a>
  </nav>
</div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="font-size: xx-large;">
        Inserisci alcuni dati per noi</mat-card-title
      >
    </mat-card-header>

    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)" class="example-form">
      <mat-card-content>
        <mat-form-field
          class="example-full-width"
          style="width:23vw; font-size: larger;"
        >
          <input
            (change)="($event.target.value)"
            required="true"
            matInput
            placeholder="Nome e Cognome"
            name="name"
            ngModel
          />
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          style="width:23vw; font-size: larger;"
        >
          <input
            (change)="($event.target.value)"
            required="true"
            matInput
            placeholder="Nome ordine"
            name="ordine"
            ngModel
          />
        </mat-form-field>
        <mat-form-field
          class="example-full-width"
          style="width:23vw; font-size: larger;"
        >
          <mat-label>Motivo del reclamo</mat-label>

          <mat-select [(ngModel)]="reclamo" name="type">
            <mat-option *ngFor="let type of types" [value]="type.viewValue">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>

          <!--- <mat-select [(ngModel)]="selectedValue" name="roles">
            <mat-option *ngFor="let roles of Roles" [value]="roles.value">
              {{ roles.viewValue }}
            </mat-option>
          </mat-select>-->

          <!----<mat-select [(value)]="selected" name="roles">
            <mat-option [value]="roles.value" *ngFor="let roles of Roles"
              >{{ roles.value }}
            </mat-option>
          </mat-select>-->
        </mat-form-field>
      </mat-card-content>
      <button
        mat-stroked-button
        style="background-color:  #e91e63;"
        class="btn-block"
      >
        Invia
      </button>
    </form>
  </mat-card>
</div>
